<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Wa</string>
	<key>description</key>
	<string>TextMate Bundle for Wa language. https://wa-lang.org</string>
</dict>
</plist>
